/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

.main-box {
	width:303px;
  margin:0 auto;
  padding:15px 20px;
}

.main-box h3 {
  position:relative;
  background:#424242;
  color:#fff;
  font-weight:400;
  font-size:14px;
  padding:12px;
  border-radius:3px;
  text-shadow: 0px 0px 1px #777;
}

.main-box h3:after {
	top: 100%;
	left: 87%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(66, 66, 66, 0);
	border-top-color: #424242;
	border-width: 5px;
	margin-left: -5px;
}

.main-box h3 strong {
  font-weight:700;
}

.bar {
  border:1px solid #e5e4e2;
  margin-top:8px;
  padding:0;
  background:#fff;
  height:13px;
}

.completed-days {
  display:inline-block;
  vertical-align:top;
  margin-left:-25%;
  width:75%;
  height:100%;
  padding:0;
  background:#EF5F3C;
}

.inside-box {
  border:1px solid #e5e4e2;
  border-top:none;
  padding:12px 18px;
}

.paragraph strong {
  color:#ef5f3c;
}

.paragraph em {
  color:#424242;
  font-style:normal;
  font-weight:bold;
}

.paragraph {
  padding:0 2px;
  font-size:12px;
  color:#777;
  text-align:left;
}

.join {
  margin-top:15px;
}

.bottom-container {
  margin-top:15px;
}

.bottom-container button {
  width:47%;
  padding:12px;
}

button.dollars {
  padding-left:7px;
  text-align:left;
  font-family:"Hevetica Neue", Arial;
  color:#777;
  border:1px solid #e5e4e2;
  border-color:#e9e9e9 #e9e9e9 #e5e4e2 #e5e4e2;
  border-radius:4px;
  width:45%;
  margin-right:5%;
}

button.dollars strong {
  padding-left:5px;
  color:#424242;
}

button.give-now {
  background:#1CBC2C;
  color:#fff;
  font-weight:300;
  border-radius:4px;
  box-shadow: inset 0 -1px 0 1px #0bab1b;
}

a.why-give {
color:#20A1D4;
  text-decoration:none;
  font-size:12px;
  font-style:italic;
  text-align:left;
  width:100%;
  display:inline-block;
  margin-left:2px;
  margin-top:7px;
  padding-bottom:6px;
}

button.save-later,
button.tell-friends {
	font-family:"Hevetica Neue", Arial;
  color:#777;
  border:1px solid #e5e4e2;
  border-color:#e9e9e9 #e9e9e9 #e5e4e2 #e5e4e2;
  border-bottom:2px solid #e5e4e2;
  border-radius:4px;
  padding:9px 0;
  font-size:12px;
  font-weight:bold;
  width:124px;
}

button.save-later {
  margin-right:13px;
  margin-left:1px;
}

button {
	background: none;
	border: 0;
	color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
